{% extends 'MrauHuImageBundle::layout.html.twig' %}


	
{% block body %}

<div class="row">
	<div class="large-5 small-12 columns">
		<h2>Загрузка файлов</h2>
		
		<form action="{{ path( "mrauhu_image_homepage") }}"
			  id="upload" class="dropzone"
			  method="post" {{ form_enctype(form) }} >
		    {{ form_widget(form) }}
			<div class="fallback">
				<input type="submit" value="Загрузить" 
					   id="upload_button" class="button success radius" />
			</div>

		</form>
		
	</div>
	
	<div class="large-7 small-12 columns">
		<h2>Загруженные изображения</h2>
		<ul class="large-block-grid-4 small-block-grid-2">
		
		    {% for image in user.images %}
			<li>
				<a href="/uploads/{{ image.path|e('url') }}" class="th">
					<img src="{{ ('/uploads/' ~ ( image.path ) ) | apply_filter('my_thumb') }}" />
				</a>
				{{ image.name|e }}
				<a href="{{ path('mrauhu_image_delete', { 'id' : image.id } ) }}" class="right confirm">x</a>
			</li>
		    {% endfor %}
		</ul>
	</div>
</div>


{% endblock %}
