<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Загрузка файлов{% endblock %}</title>
        {% stylesheets
			'@BmatznerFoundationBundle/Resources/public/css/foundation.min.css'
			'@MrauHuImageBundle/Resources/public/css/dropzone-basic.css'	%}
			
			<link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
		{% endstylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
		
		<div class="row">
			<div class="large-12 columns">
				<nav class="top-bar">
					<ul class="title-area">
						<!-- Title Area -->
						<li class="name">
							<h1><a href="{{ path( 'mrauhu_image_homepage' ) }}">Загрузка изображений</a></h1>
						</li>
						<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
						<li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
					</ul>
				
					<section class="top-bar-section">
				
						<!-- Right Nav Section -->
						<ul class="right">

						{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
							<li><a href="{{ path( 'fos_user_profile_edit' ) }}">Привет, {{ app.user.username }}</a>
							</li>
							<li><a href="{{ path( 'fos_user_security_logout' ) }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
						{% else %}
							<li><a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a></li>
							<li>
								<a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
							</li>
            {% endif %}							
						</ul>
					</section>
				</nav>
			</div>
		</div>
		
		
		{% block body %}{% endblock %}
		
        <div class="row">
        	<div class="large-12 columns">
				{% block fos_user_content %}{% endblock fos_user_content %}	
			</div>
        </div>
		
		{% block javascripts %}{% endblock %}
		
		{% javascripts
						'@BmatznerZeptoBundle/Resources/public/js/zepto.min.js' 
						'@BmatznerFoundationBundle/Resources/public/js/foundation.min.js' 
						'@MrauHuImageBundle/Resources/public/js/dropzone.js'
						'@MrauHuImageBundle/Resources/public/js/ready.js' %}
			<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}	
			
    </body>
</html>
